.header {
    background-color: #FFFFFF;
    background-image: url(../images/banner_top.jpg);
    color: grey;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    text-align: right;
    vertical-align: middle;
}

.transparentCls {
  opacity:0;
}
.agedi {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  background-image: url(../images/agedi.png);
  background-repeat: no-repeat;
}
.envagenc {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  background-image: url(../images/envagenc.png);
  background-repeat: no-repeat;
}
.irena {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  background-image: url(../images/irena.png);
  background-repeat: no-repeat;
}
.supcounener {
  background-color: #FFFFFF;
      padding: 10px;
  border-color: #FFFFFF;
  background-image: url(../images/supcounener.png);
  background-repeat: no-repeat;
}
.min {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  background-image: url(../images/min.png);
  background-repeat: no-repeat;
}
.un {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  background-image: url(../images/un.png);
  background-repeat: no-repeat;
}

/* .header SPAN { */
/* 	vertical-align: middle; */
/*     text-align: right; */
/*     display: table-cell; */
/* } */

.helpwindow {
    background-color: #FFFFFF;
    padding: 5px;
}

.helpwindow div.cascade {
    padding: 0 0 0 5px;
}

.helpwindow h2 {
    margin: 2px 0 0 0;
}

.buttonwindclose {
	border-color: #b3b4c6;
	border-width: 1px 1px 0px 1px;
	background-image: none;
	background-color: #d9dbdd;
	left:90%;
}